:root {
  /* Primary Colours */
  --prussian-blue: hsl(207 49 15 100%), #14293A;
  --lilac: hsl(242 26 77 100%), #B6B5D4;
  --beige-orange: hsl(40 100 92 100%), #FFF1D6; 

  /* Colour range */
  --prussian-blue-medium: hsl(207 51 24 100%), #1E405C; 
  --prussian-blue-light: hsl(207 55 37 100%), #2B6491; 

  --lilac-medium: hsl(242 38 65 100%), #8583C7; 
  --lilac-dark: hsl(242 46 49 100%), #4844B7;

  --beige-orange-medium: hsl(40 93 73 100%), #FACF7B; 
  --beige-orange-dark: hsl(40 100 51 100%), #FFA903;

  /* Border colour */
  --border-colour: hsl(27 2 54 100%), #8D8A88; 


}